.card{
    position: relative;
    box-shadow: rgba($color: grey, $alpha: .6);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    justify-content: center;
    text-align: center;
    transition: box-shadow 0.2s ease-in-out;
    transform: 0.2s ease-in-out;
    cursor: pointer;
  
    &:hover{
      box-shadow: 0px 14px 20px 0px rgba(0,0,0, .03);
      transform: translateY(-5px);
    }
  
    .favorite{
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 10px;
      right: 10px; /* Было 5px, увеличил для корректности */
      cursor: pointer;
    }
  
    p{
      font-size: 20px;
    }
    .card-price{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  
    button{
  
      text-align: center;
      width: 200px;
      font-size: 25px;
      background-color: white;
      border: none;
      
    }
  }

  li{
    cursor: pointer;
  }