header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 2px solid #eaeaea;
    border: 2px solid rgb(247, 246, 246);
    border-radius: 10px;
    box-shadow: 2px 2px 3px 5px rgba(255, 245, 225, .5);
    background-color: rgb(255, 245, 225);

    .headerLeft {
      display: flex;
      align-items: center;
  
      img{
        margin-right: 20px;
      }
  
      h3, p {
        margin: 0;
      }
    }

    .menu{
      display: flex;
      justify-content: space-between;
      list-style-type: none;
      gap: 40px;
     
  
      a{
        color: rgb(94, 24, 24);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold; 
        font-size: 20px;
        text-decoration: none;
        display: block;
      }

      & li{
        position: relative;
      }
      & .dropDown{
        position: absolute;
        display: block;
        list-style-type: none;
        top: 20%;
        margin-top: 50px;
        margin-left: 50px;
        padding: 0;
        border: 1px solid rgb(231, 229, 229);
        border-radius: 10px;
        width: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        box-shadow: 2px 3px 3px 2px rgba(30,80,70 , $alpha: .5);
        background-color: #FFF5E1;
      
       
        
        & li{
       
         text-align: center;
         border-bottom: 1px solid #bbb;
        }
        & li a:hover {
            background-color: brown;
            border-radius: 6px;
            color: #FFF5E1;
            transition: ease-in-out .3s;
          }
      }
    }
  
  
  .headerRight{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    list-style-type: none;
    
  }
  }

