
.footer{
    display: flex;
    padding: 10px;
    border-bottom: 2px solid #eaeaea;
    box-shadow: 2px 2px 3px 5px rgba(255, 245, 225, .5);
    background-color: #464646;
    border: 2px solid #5d5d5d;
    box-shadow: #5d5d5d;
    color:rgb(255, 245, 225) ;
    padding: 30px;
    margin-top: 150px;
    margin-bottom: 0;


    .footer-content{
        display: flex;
        width: 100%;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        border: 2px solid wheat;
        box-shadow: 1px 1px 4px 4px rgba(255, 245, 225);
    }

    & .footer-logo img{
        width: 200px;
        border-radius: 50%;
    }

    &.footer-content__list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Lucida Sans', Verdana, sans-serif;
        
      
       
    }

    h3{
        font-size: 25px;
    }

    .footer-list__left li{
        list-style-type: none;
        margin-bottom: 10px;

       
    }

    .footer-contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 30px;
        padding: 20px;
        
    }
}